/* You can add global styles to this file, and also import other style files */
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    background: black;
    margin: 20px;
    color: #c1cedb;
    -webkit-font-smoothing: antialiased;
  }
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: white;
    border-radius: 5px;
    border: 0px;
    color: black;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #c3d0dd;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }